.profile-container {
    width: 100%;
}

.profile-info {
    background-color: #2a2852;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    font-size: 17px;
}

.profile-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile-wrapper img {
    height: 100px;
    /* border: solid 5px #DDD; */
    border-radius: 50%;
}

.profile-wrapper .info {
    color: #EEE;
    margin-left: 40px;
}

.profile-wrapper .name {
    font-size: 20px;
    font-weight: 500;
}

.profile-wrapper .login {
    font-size: 17px;
    font-weight: 400;
}

.profile-wrapper .bio {
    font-size: 17px;
    font-weight: 400;
    margin-top: 10px;
}

.profile-wrapper .url {
    display: block;
    font-size: 17px;
    margin-top: 5px;
    color: #CCC;
}

.profile-info .btn-logoff {
    border: none;
    padding: 10px 40px;
    background-color: #353177;
    border-radius: 40px;
    color: #EEE;
    font-weight: 500;
    font-size: 15px;
}

main {
    width: 100%;
}

.map {
    height: 400px;
}

/* Repositories */
.repositories {
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.repositories-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    justify-items: center;
}

.repositories .title {
    align-self: flex-start;
    display: block;
    font-size: 20px;
    margin-left: 20px;
    color: #333;
}

.repositorie-name {
    display: block;
    width: 80%;
}

.repositorie-info {
    width: 80%;
    margin-top: 40px;
    padding: 20px 20px;
    border-top: 1px solid #CCC;
    background-color: #fdfdfd;
    display: flex;
    justify-content: space-between;
}

.repositorie-name {
    color: #4169E1;
}

.star-svg {
    cursor: pointer;
}