.loading-spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
    width: 100%;
}

.profile-info {
    /* width: 100%; */
    background-color: #2a2852;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: 20px 40px;
    font-size: 17px;
}

.profile-info .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

.profile-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile-wrapper img {
    height: 100px;
    /* border: solid 5px #DDD; */
    border-radius: 50%;
}

.profile-wrapper .info {
    color: #EEE;
    margin-left: 40px;
}

.profile-wrapper .name {
    font-size: 20px;
    font-weight: 500;
}

.profile-wrapper .login {
    font-size: 17px;
    font-weight: 400;
}

.profile-wrapper .bio {
    font-size: 17px;
    font-weight: 400;
    margin-top: 10px;
}

.profile-wrapper .url {
    display: block;
    font-size: 17px;
    margin-top: 5px;
    color: #CCC;
}

.profile-info .btn-logoff {
    border: none;
    padding: 10px 40px;
    background-color: #353177;
    border-radius: 40px;
    color: #EEE;
    font-weight: 500;
    font-size: 15px;
    transition: filter 500ms;
}

.profile-info .btn-logoff:hover {
  filter: brightness(90%);
}

main {
    width: 100%;
}

.map {
    height: 400px;
}

/* Repositories */
.repositories {
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.repositories-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    justify-items: center;
}

.repositories .title {
    font-size: 20px;
    /* margin-left: 0 auto; */
    color: #333;
}

.repositorie-name {
    display: block;
    width: 80%;
}

.repositorie-info {
    width: 80%;
    margin-top: 40px;
    padding: 20px 20px;
    border-top: 1px solid #CCC;
    background-color: #F9F9F9;
    display: flex;
    justify-content: space-between;
}

.repositorie-name {
    color: #4169E1;
}

.star-svg {
    cursor: pointer;
}

@media (max-width: 768px) {
    .repositories {
        width: 100%;
    }

    .repositories-wrapper {
      grid-template-columns: repeat(3, 1fr);
    }

    .repositorie-info {
        width: 85%;
    }
}

@media (max-width: 426px) {
    .repositories .title {
        margin: 0 auto;
    }

    .repositories-wrapper {
        grid-template-columns: 1fr;
    }

    .repositorie-info {
        padding: 35px 35px;
    }

    .profile-info {
        flex-direction: column;
    }

    .profile-wrapper {
        flex-direction: column;
    }

    .profile-wrapper .info {
        text-align: center;
        margin-left: 0;
    }

    .profile-wrapper img {
        height: 125px;
    }

    .profile-info .container{
      display: flex;
      flex-direction: column;
    }
    .profile-info .btn-logoff {
        margin-top: 30px;
        font-weight: 400;
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    .profile-info {
        padding: 27px 7px;
    }

    .profile-wrapper .info {
        margin-left: 16px;
    }

    .profile-wrapper .bio {
        font-size: 16px;
    }

    .profile-wrapper .url {
        font-size: 15px
    }

    .repositorie-info {
        padding: 47px 14px;
    }

    .repositories-wrapper {
        grid-template-columns: 1fr;
    }
}
